<h2>Каталог</h2>

{% for item in catalog %}
<div>
    <h3><a href="/product/card/?id={{ item['id'] }}">{{ item['title'] }}</a></h3>
    <p>price: {{ item['price'] }}</p>
    <button>Купить</button>
</div>
{% endfor %}

{% if page != -1 %}
<a href="/product/catalog/?page={{ page }}">Следующая страница</a>
{% endif %}
